{{ define "content" }}

<div class="card mx-auto" style="max-width: 80%;border:none">
  <div class="card-body">
    <h1 class="text-center"> Mental Hues &trade;</h1>
    <p class="card-text">
    Hello, my name is Erin. Throughout my own struggles with a mental health disorder, I have found my largest source of struggle comes from the misunderstandings I feel from others when symptoms of my disorder disrupt my daily living.
    <br>
    <br>
    If I could do anything to help others right now, it would be to diminish the stigma that we with mental health disorders currently face. My skills involve computer science and technology; thus, I believe I am most useful with a computer, skills I have been learning along the way, and community support. I hope to generate an open source community that can help me chip away at stigma associated with mental health disorders. In doing so, I hope we provide a space for people to personalize mental illness issues and break down all our misunderstandings.

    <h1 class="text-center"> What is Mental Hues? </h1>
    I am working with the mental health community and the open web to create a web application that the greater community can use to better understand issues associated with mental health disorders. I want people to engage on issues in an anonymous, personal way, to find ways to create better understanding for mental health and related topics.
    
    <br>
    <br>
    I started Mental Hues because I have a mental health disorder and am passionate about destigmatization. I have realized from my own experience that the biggest source of my struggles comes from stigma I have faced. I want to help those who experience similar issues, and also learn to become an advocate for mental health. Mental Hues is a web application that allows users to connect through Hues and stories pertaining to Hues. Hues are topics related to mental health. Examples of Hues include test anxiety, paranoia, and how to feel understood. A user creates a Hue, and then writes a story pertaining to the Hue. Other users can also write stories pertaining to the Hue. Users can not comment on another user’s story to ensure a safe space. All users are anonymous to also ensure a safe space.
    
    <br>
    <br>
    This project is created for the mental health community and those interested in learning about mental health disorders and is an open source project. I believe all those involved should interact with Mental Hues however they feel will be most supportive for themselves and others; this includes reading, using, and building the project. It is also created by members of the mental health community and those compassionate about diminishing stigma associated with mental health disorders. The entire purpose of this project, from being made to being used, aims to diminish stigma associated with mental health disorders.
    </p>
  </div>
</div>
{{ end }}
