{{ define "content" }}
      {{ range .Hue }}
      <div class="card mb-3" id="hue" style="border-color:#FF6200">
        <div class="row no-gutters">
          <div class="col-md-2 align-items-center d-flex justify-content-center">
            <img src="/static/{{ .Image }}" class="card-img" id="hue-icon">
          </div>
          <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><a href="">{{ .Title }}</a></h5>
              <p> {{ .Description }} 
              <br>
              by <a href=""> {{ .Author }} </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
{{ end }}
