{{ define "footer" }}
      <div class="card-footer bg-white">
     
        <div class="row justify-content-center">
        <form class="form-inline">
          <div class="form-group mx-sm-3">
            <label for="exampleFormControlInput1" 
                   style="margin-right:20px;" id="nav-content"> 
              Subscribe to mentalhues
            </label>
            <input type="email" class="form-control" 
                   id="exampleFormControlInput1" 
                   style="width:300px;"
                   placeholder="Please enter your email address">
          </div>

        </form>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <small class="d-block mb-3 text-muted">
                &copy; 2019-2020 Mentalhues. All Rights Reserved.
              </small>
            </div>
            <div class="col-6 col-md">
              <h5> Share more </h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Contributing Guidelines</a></li>
                <li><a class="text-muted" href="#">Contact</a></li>
                <li><a class="text-muted" href="#">Subscribe</a></li>
                <li><a class="text-muted" href="#">Support</a></li>
                <li><a class="text-muted" href="#">Join the team</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">API</a></li>
                <li><a class="text-muted" href="#">RSS Feeds</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">About</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
                <li><a class="text-muted" href="#">Advertise</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
{{ end }}
