{{ define "content" }}
    <div class="container my-5">
      <div class="card bg-white" id="banner">
          <img src="/static/imgs/heads.png"
               id="banner-art" 
               class="card-img mx-auto">
      </div>
    </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

      {{ range $index, $s := .Featured }}
        {{ if $index | eq 1 }}
        <div class="carousel-item active">
        {{ else }}
        <div class="carousel-item">
        {{ end }}
          <img class="first-slide mx-auto d-block featured-art" src="/static/{{- $s.Image -}}">
          <div class="container">
            <div class="carousel-caption text-left">
              <a href="{{- $s.URL -}}"><h1> {{ $s.Title }}</h1></a>
              <p> {{ $s.Description }} </p>
            </div>
          </div>
        </div>
      {{ else }}
        <li> Nothing to show </li>
      {{ end }}

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row no-gutters"></div>

  <div class="row no-gutters">
    <div class="col-md-6" style="max-width:450px;margin-left:80px;">
      {{ range $index, $s := .Hue }}
      <div class="card mb-3" id="hue" style="border-color:{{- $index | rhue -}}">
        <div class="row no-gutters">
          <div class="col-md-2 align-items-center d-flex justify-content-center">
            <img src="/static/{{ $s.Image }}" class="card-img" id="hue-icon">
          </div>
          <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><a href="/hue/{{- $s.URL -}}">{{ $s.Title }}</a></h5>
              <p> {{ $s.Description }} 
              <br>
              by <a href=""> {{ $s.Author }} </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="col-md-6">
      <figure class="figure">
        <img src="/static/imgs/butterflies.png" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
      </figure>
      <figure class="figure">
        <img src="/static/imgs/rainbow-stripe.jpg" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
      </figure>
      <figure class="figure">
        <img src="/static/imgs/abstract-color-wave-kathy-kurtz.jpg" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
      </figure>
    </div>



  </div>

    <div class="card text-center" style="border:0;">
      <div class="card-body">
        <button type="button" class="btn btn-outline-success">
          Show more hues
        </button>
      </div>
    </div>
{{ end }}
