{{ define "ad" }}
      <div class="card mb-4 hidden-md-down">
        <div class="card-block">
          <h6 class="mb-3">Sponsored</h6>
          <div data-grid="images" data-target-height="150"><img class="media-object" data-width="640" data-height="640" data-action="zoom" src="/static/imgs/firefox.png" style="width: 0px; height: 0px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
          <p><strong>Every browser does fast. But not every browser does good.</strong> mozilla.org/firefox </p>
        </div>
        <div class="card-footer">
          Want to place ads on this page? Have a look at our <a href="#">Ad Policy</a>!
        </div>
      </div>
{{ end }}
