{{ define "content" }}

<div data-grid="images">
  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/butterfly.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/static/imgs/groundwater.jpg">
  </div>
  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/library.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/red-balloons.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/ancient.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/summer.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/static/imgs/sierra.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/yellow-rose.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/static/imgs/swift.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/glitter.jpeg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/aqua-universe.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/tree.png">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/people.jpeg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/cloud.jpg">
  </div>
  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/static/imgs/tuscany.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/static/imgs/winter.jpg">
  </div>
</div>
{{ end }}
