{{ define "body-layout" }}

<style>
.card-deck .card {
    max-width: calc(25% - 30px);
}
</style>

  {{ template "featured" .Hues.Featured }}

<div class="col text-center my-4 mb-4">
  <button type="button" class="btn btn-success btn-lg">
    <a href="/share" style="color:white"> Share your story </a>
  </button>
</div>


{{ range $i, $hue := .Hues.Content }}
  {{ if eq (mod $i 2) 0 }}
    <div class="row">
  {{ end }}
          <div class="card align-items-center m-2" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4 mt-2 pl-4">
                <a href="/hues/read?id={{- $hue.Uuid -}}"><img class="card-img-top" src="/static/imgs/butterfly.jpg" style="height:125px;width:125px;border-radius:50%;"></a>
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="/hues/read?id={{- $hue.Uuid -}}"> {{- $hue.Title -}}</a></h5>
                  <p class="card-text">by {{ $hue.User.Name -}}</p>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
  {{ if or (eq (mod $i 2) (minus 2 1))  (eq (minus (len $.Hues.Content) 1) $i) }}
    </div>
  {{ end }}
{{ end }}

<div class="card-columns">
 <div class="card">
   <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Card title that wraps to a new line</h5>
     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
   </div>
 </div>
 <div class="card p-3">
   <blockquote class="blockquote mb-0 card-body">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
     <footer class="blockquote-footer">
       <small class="text-muted">
         Someone famous in <cite title="Source Title">Source Title</cite>
       </small>
     </footer>
   </blockquote>
 </div>
 <div class="card">
   <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>
 <div class="card bg-primary text-white text-center p-3">
   <blockquote class="blockquote mb-0">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
     <footer class="blockquote-footer">
       <small>
         Someone famous in <cite title="Source Title">Source Title</cite>
       </small>
     </footer>
   </blockquote>
 </div>
 <div class="card text-center">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>

 <div class="card p-3 text-right">
   <blockquote class="blockquote mb-0">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
     <footer class="blockquote-footer">
       <small class="text-muted">
         Someone famous in <cite title="Source Title">Source Title</cite>
       </small>
     </footer>
   </blockquote>
 </div>
 <div class="card">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>

 <div class="card">
   <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Card title that wraps to a new line</h5>
     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
   </div>
 </div>
 <div class="card p-3">
   <blockquote class="blockquote mb-0 card-body">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
     <footer class="blockquote-footer">
       <small class="text-muted">
         Someone famous in <cite title="Source Title">Source Title</cite>
       </small>
     </footer>
   </blockquote>
 </div>
 <div class="card">
   <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>
 <div class="card bg-primary text-white text-center p-3">
   <blockquote class="blockquote mb-0">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
     <footer class="blockquote-footer">
       <small>
         Someone famous in <cite title="Source Title">Source Title</cite>
       </small>
     </footer>
   </blockquote>
 </div>
 <div class="card text-center">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>
 <div class="card">
   <img class="card-img" src="https://place-hold.it/280x180" alt="Card image">
 </div>
 <div class="card p-3 text-right">
   <blockquote class="blockquote mb-0">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
     <footer class="blockquote-footer">
       <small class="text-muted">
         Someone famous in <cite title="Source Title">Source Title</cite>
       </small>
     </footer>
   </blockquote>
 </div>
 <div class="card">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>
 <div class="card">
   <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Card title that wraps to a new line</h5>
     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
   </div>
 </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">

    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://place-hold.it/280x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">Previous</button>
        </div>
      </div>
      <div class="col-sm">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-secondary">1</button>
          <button type="button" class="btn btn-secondary">2</button>
          <button type="button" class="btn btn-secondary">3</button>
          <button type="button" class="btn btn-secondary">4</button>
          <button type="button" class="btn btn-secondary">5</button>
          <button type="button" class="btn btn-secondary">6</button>
          <button type="button" class="btn btn-secondary">7</button>
          <button type="button" class="btn btn-secondary">8</button>
          <button type="button" class="btn btn-secondary">9</button>
          <button type="button" class="btn btn-secondary">10</button>
        </div>
      </div>
      <div class="col-sm">
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-secondary">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
