{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mental Hues</title>

    <!-- Include the CSS -->
    <link href="/static/dist/toolkit.min.css" rel="stylesheet">

  </head>
<!--
  <body class="with-top-navbar" style="background-color:white">
-->
  <body style="background-color:white">
    <!-- Include jQuery (required) and the JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/static/dist/toolkit.min.js"></script>

    {{ template "navbar" . }}

    {{ template "body" . }}

    {{ template "footer" }}

  </body>
</html>
{{ end }}
