{{ define "navbar" }}
<nav class="navbar navbar-toggleable-sm  navbar-light app-navbar">
  <button class="navbar-toggler navbar-light navbar-toggler-right hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/static/imgs/logo.png" style="height:40px;width:150px;">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="nav-content">

      <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contributors</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 form-control-sm" type="search" style="width:250px;" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search </button>
    </form>

    <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 hidden-sm-down">
      <li class="nav-item ml-2">
        <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover" data-original-title="" title="">
          <img class="rounded-circle" src="/static/imgs/butterfly.jpg" style="width: 35px; height: 35px;">
        </button>
      </li>
    </ul>
    <ul class="nav navbar-nav hidden-xs-up" id="js-popoverContent">
      <li class="nav-item"><a class="nav-link" href="#" data-action="growl">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="/signout">Sign out</a></li>
    </ul>

  </div>
</nav>
{{ end }}
