{{ define "content" }}
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <ul class="list-group media-list media-list-stream mb-4">

<div class="pt-5 pb-2">
  <div id="editor"></div>
  <div class="input-group pt-2">
      <button type="button" class="btn btn-outline-primary float-right">Share</button>
  </div>
</div>

        <li class="media list-group-item">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/aqua-universe.jpg">
          <div class="media-body">
            <div class="media-heading">
              <small class="float-right text-muted">4 min</small>
              <h6>Mark Sandan</h6>
            </div>

            <p>
              Today was a hard day. It started like any other. Thoughts began creeping in my mind. Uncontrollably questioning and thinking. I needed to get out of my head. I've probably been inside too long. So I took a walk to the sea wall to see some familiar faces.
            </p>


            <div class="media-body-inline-grid" data-grid="images"><div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;">
                <img data-action="zoom" data-width="1050" data-height="700" src="/static/imgs/sierra.jpg" style="width: 337px; height: 225px;">
              </div><div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;">
                <img data-action="zoom" data-width="640" data-height="640" src="/static/imgs/tuscany.jpg" style="width: 224px; height: 225px;">
              </div><div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
                <img data-action="zoom" data-width="640" data-height="640" src="/static/imgs/ocean-dusk.jpg" style="width: 226px; height: 225px;">
              </div><div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
                <img data-action="zoom" data-width="1048" data-height="700" src="/static/imgs/mist.jpg" style="width: 809px; height: 528px;">
              </div></div>

             <div class="btn-group mb-3" role="group" aria-label="Basic example">
               <button class="btn btn-link" type="button">
                <span class="icon icon-chat"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-forward"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-heart"></span>
               </button>
             </div>



            <ul class="media-list mb-2">
              <li class="media mb-3">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/Nature.jpg">
                <div class="media-body">
                  <strong>Baby Sunflower: </strong>
<p>I have very rarely had any issues with depression, my whole life, and when I was depressed there was always a clear reason (e.g. a breakup). Until about a year ago, when I got my first fully remote job, and after 6-8 months I realized I was starting to be depressed a lot, listless, feelings of despair and anxiety, etc.</p>
<p>Just doing more of my work in a coffeeshop or elsewhere with people around, seems to make a big difference. Which implies that perhaps just visiting a depressed friend a lot, might make a difference? Just a thought.</p>
                </div>
              </li>
              <li class="media">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/yellow-rose.jpg">
                <div class="media-body">
                  <strong>Rose: </strong>
<p>I would love to finally see an article that has tips for a society on how to prevent depression, instead of the constant stream of self-help BS that is constantly directed at people who may have real reasons to be depressed.</p>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="media list-group-item p-4">
          <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/butterfly.jpg">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <small class="float-right text-muted">12 min</small>
                <h6>Anonymous</h6>
              </div>
              <p>
              One of the biggest force multipliers in overcoming depression is accepting that you can modulate your condition by taking small, deliberate actions.</p>

<p>It's also one of the most difficult and delicate ideas to communicate to a depressed person. Depression notoriously clouds peoples' judgment and makes simple tasks seem impossible. Depression also encourages a lot of binary thinking, where people tend to give up because they can't achieve the optimal solution and can't imagine anything in between optimal and complete failure. And most importantly, depressed people almost never want to hear someone else telling them that they should do something to change their own condition. If you've ever been through a depressive episode, you'll understand how unpalatable this idea is if it's not delivered carefully. Be careful to not make depressed people feel even worse about their condition.</p>

<p>For example, I've known several depressed people who spiraled deeper into depression when they could no longer perform their regular 60 minute gym sessions multiple times per week. It took a while for them to accept that a 5-minute walk around the block is better than no exercise at all. From there, they could push to 10 minute walks on good days, then 20 minutes, then 30 minutes, and eventually work their way back up to gym visits. Taking those tiny steps is a great way to re-learn that you can accomplish things, and it's a great to way to see gradual progress in yourself.</p>

             <div class="btn-group mb-3" role="group" aria-label="Basic example">
               <button class="btn btn-link" type="button">
                <span class="icon icon-chat"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-forward"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-heart"></span>
               </button>
             </div>
            </div>
          </div>
        </li>

        <li class="media list-group-item p-4">
          <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/butterfly.jpg">
          <div class="media-body">
            <div class="media-heading">
              <small class="float-right text-muted">34 min</small>
              <h6>Anonymous</h6>
            </div>
            <p>
              Some days I feel buried in obligation. One obligation crushes me. But not today...
            </p>

            <div class="media-body-inline-grid" data-grid="images"><img style="display: inline-block; width: 783px; height: 783px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="540" data-height="640" data-action="zoom" src="/static/imgs/buried.jpg"></div>

             <div class="btn-group mb-3" role="group" aria-label="Basic example">
               <button class="btn btn-link" type="button">
                <span class="icon icon-chat"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-forward"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-heart"></span>
               </button>
             </div>

            <ul class="media-list">
              <li class="media">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/glitter.jpeg">
                <div class="media-body">
                  <strong>Jane Doe: </strong>
<p> I largely agree with all the advice here. I dropped out of college due to depression, then I torched my tech career with a manic episode that led me straight from a FAANG SWE job to an involuntary psych ward patient for a month, which was followed by a half year brutal depression. I’ve done a lot of research and I think psychiatry is pseudoscience and antidepressants are largely placebo. </p>

<p>I’m really on the mindfulness bandwagon but don’t believe it’s “positive thinking.” The opposite, it’s less thinking, more acknowledgment of how you feel. If you feel depressed, maybe that’s ok, maybe that’s part of the human experience. If it endangers your life that’s perhaps not ideal, but if it endangers your goals, perhaps that is ok. I think modern society pathologizes feelings and acts like anything that detracts from your ability to be “successful “ must be cured. It’s ok to feel bad feelings it’s how we react to them that’s more often a source of frustration. Meditation gets mislabeled as some way to reduce stress and clear your mind when I believe it’s training for how to learn to react to difficult thoughts and feelings.</p>

<p>I have many more thoughts on this topic for when the time is right but as much as self-care advice gets responded with “thanks I’m cured” self-care is the foundation to recovery. I have many more strategies to do this even when thoughts/feelings are giving resistance.</p>
                </div>
              </li>
              <li class="media">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/cloud.jpg">
                <div class="media-body">
                  <strong>John Doe: </strong>
<p>I've struggled with this quite a bit in my own life. I find the "No Zero" mentality to work well for me. Treat every weekday as a "No Zero" day. What does that mean? It means if my goal is to go to the gym, even if I literally walk into the gym, do a pushup, and leave, that counts. It's more than Zero. Consistent non-zero days eventually help break me out of my depression. And when I miss a day... well forgive myself and keep going.</p>
<p>All easier said than done of course, and sometimes a no-zero goal is just to get out of bed... but it has helped me.</p>

<p>For anyone interested I got the idea from <a href="https://www.reddit.com/r/getdisciplined/comments/1q96b5/i_just_dont_care_about_myself/cdah4af/">here</a> The style and language of the post are not really my cup of tea, but the ideas behind it have really helped me.</p>
                </div>
              </li>

            </ul>
          </div>
        </li>

        <li class="media list-group-item p-4">
          <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/butterfly.jpg">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <small class="float-right text-muted">42 min</small>
                <h6>Anonymous</h6>
              </div>
              <p>
               <a href="https://nplusonemag.com/online-only/online-only/tips-for-the-depressed/">
               https://nplusonemag.com/online-only/online-only/tips-for-the-depressed/
              </a>
              </p>

             <div class="btn-group mb-3" role="group" aria-label="Basic example">
               <button class="btn btn-link" type="button">
                <span class="icon icon-chat"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-forward"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-heart"></span>
               </button>
             </div>
            </div>

            <ul class="media-list">
              <li class="media">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/glitter.jpeg">
                <div class="media-body">
                  <strong>Jane Doe: </strong>
<p>For me, doing those small things did seem impossible and even when I managed to achieve it, I didn't feel the reward. There didn't seem any point in making the bed if I felt the same whether the bed was made or not. Eventually I reached a mental place where I could turn that around: If it doesn't make a difference in how I feel, why not make the bed? I had to more or less take it on faith that eventually the rewards would come, and they did. Anyone out there dealing with this: Keep fighting, but don't kick yourself if you have a set back. You wouldn't kick someone else when they're down, so don't do that to yourself.</p>
<p>Edit: Just want to plug Allie Brosh here. <a href="http://hyperboleandahalf.blogspot.com/2013/05/depression-part-two.html">This comic</a> is maybe the best description I've ever read on how depression is experienced</p>
                </div>
              </li>
              <li class="media">
                <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/butterfly.jpg">
                <div class="media-body">
                  <strong>Anonymous: </strong>
<p>As a as formerly depressed person I can attest that this is the only thing that worked. DO stuff. Even if you feel you can’t, even if it feels hopeless. Do it anyway.
Somehow through the act of forcing yourself you find you’re actually enjoying yourself, are making progress and feeling better.</p>

<p>Saying this is also the quickest way to get shunned out of the room by anyone with depression.</p>

<p>Fun fact: research has shown that cognitive behavioral therapy is more effective at changing brain chemistry than drugs. Tricking yourself into doing things is a lighter form of CBT so I heartily recommend it to everyone. Or as my psychiatrist once said: Drugs don’t mean you’re broken or that this is outside your control. They just give you the space to fix it.
<a href="https://www.nature.com/articles/4001816">CBT</a> is the actual long-term solution.</p>
                </div>
             </li>
            </ul>
          </div>
        </li>

        <li class="media list-group-item p-4">
          <img class="media-object d-flex align-self-start mr-3" src="/static/imgs/butterfly.jpg">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <small class="float-right text-muted">52 min</small>
                <h6>Anonymous</h6>
              </div>
<p>I suffered from treatment-resistant depression for over ten years. In my case, time definitely did not heal, and psych meds that were tried did not help significantly. Felt like everyone had gotten used to my depression and did not take it seriously. Was convinced that I had "terminal" depression. Until at a low point, when visiting a new doctor (non-psych) for a routine check-up, the doctor who I'd never met before told me that I seemed so low that she wasn't comfortable sending me home alone and sent me to the emergency room. At that point I started intensive therapy, learned DBT (Dialectical Behavioral Therapy) skills, and was started on meds that actually did help. I'm now proud and happy to say that I've been largely free of depression for the 5 years since then. Sure there are low times, but coping skills and closely managing meds have helped greatly.</p>
<p>Mostly here to say: If you're depressed to the point where you're seriously thinking about killing yourself, you have a life-threatening illness. IMO, it should be treated as such.</p>

             <div class="btn-group" role="group" aria-label="Basic example">
               <button class="btn btn-link" type="button">
                <span class="icon icon-chat"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-forward"></span>
               </button>
               <button class="btn btn-link" type="button">
                <span class="icon icon-heart"></span>
               </button>
             </div>
            </div>
          </div>
        </li>
    </ul>

<div class="col text-center pb-4">
  <button type="button" class="btn btn-primary btn-lg">Show more</button>
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- Initialize Quill editor -->
<script>
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                //['blockquote', 'code-block'],

                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
               // [{ 'direction': 'rtl' }],                         // text direction

                //[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                //[ 'link', 'image', 'video' ],
                [ 'link', 'image'],          // add's image support
                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                //[{ 'font': [] }],
                [{ 'align': [] }],

                ['clean']                                         // remove formatting button
            ];
  var Delta = Quill.import('delta');
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    placeholder: 'share your story...',
    theme: 'snow'
  });

  // Store accumulated changes
  var change = new Delta();
  quill.on('text-change', function(delta) {
    change = change.compose(delta);
  });

  // Save periodically
  setInterval(function() {
    if (change.length() > 0) {
      console.log('Saving changes', change);
      /*
      Send partial changes
      $.post('/your-endpoint', {
        partial: JSON.stringify(change)
      });

      Send entire document
      $.post('/your-endpoint', {
        doc: JSON.stringify(quill.getContents())
      });
      */
      change = new Delta();
    }
  }, 5*1000);

  // Check for unsaved data
  window.onbeforeunload = function() {
    if (change.length() > 0) {
      return 'There are unsaved changes. Are you sure you want to leave?';
    }
  }
  </script>


{{ end }}
