
        a {
          text-decoration:none;
        }
        a:hover {
          text-decoration:none;
        }
        a:visited {
          color: black;

        }

        body {
          margin:0;
          padding:0
        }

        input[type=text] {
          width:300px;
          height:25px;
          text-align: left;
          font-size: 14px;
          font-family: "Goudy Bookletter 1911", cursive;
        }

        input[type=submit] {
          width:100px;
          height:40px;
          color: white;
          font-size: 14px;
          font-family: "Goudy Bookletter 1911", cursive;
          background-color: #004643;
        }

        #nav {
          width: 1300px;
          height: 50px;
          padding: 20px;
        }

        #logo-img {
          position: relative;
          top: 25px;
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }
        .home{
          font-size: 43px;
          font-family: "Dancing Script", cursive;
          position: relative;
          float: left;
          margin-right: 700px;
          left: 50px;
          top: -61px;
        }

        .topic{
          float: left;
          font-size: 22px;
          font-family: "Dancing Script", cursive;
          margin-left: 20px;
          margin-right: 20px;
          position:relative;
          top: 20px;
        }
        
        #header-banner {

          font-size: 110px;
          font-weight: bold;
          font-family: "Dancing Script", cursive;
          width: 1400px;
          text-align: center;
          float: left;
          position: relative;
          top: -90px;

        }

        .card {

          background-color: #094067;
          float: left;
          margin: 50px;
          width: 300px;
          height: 300px;
          position: relative;
          left: 84px;

        }

        .card-author {

          color: white;
          font-size: 16px;
          font-family: "Cinzel", cursive;
          margin: 20px;
        }

        .card-title {

          color: white;
          font-size: 37px;
          font-family: "Great Vibes", cursive;
          margin: 20px;
        }

        .card-description {

          color: white;
          font-size: 14px;
          font-family: "Goudy Bookletter 1911", cursive;
          margin: 40px;
          position: relative;
          top: -20px;
        }

        .featured-card {
   
          height: 500px;
          width: 1400px;
          margin-top: 20px;
          margin-bottom: 20px;
          float: left;
          
        }

        .featured-img {
          width: 800px;
          height: 500px;
          z-index: 1;
          position: relative;
          left: 135px;
        }

        .featured-title {
          color: black;
          font-size: 300%;
          font-family: "Great Vibes", cursive;
          text-align: left;
          position: relative;
          z-index: 2;
          top: -570px;
          left: 1050px;
        }

        .feature-description {
          position: relative;
          font-family: "Goudy Bookletter 1911", cursive;
          top: -590px;
          left: 970px;
          height: 400px;
          width: 400px;
          text-align: left;
        }

        .featured-author{
          font-size: 40px;
          font-family: "Great Vibes", cursive;
          position: relative;
          left: 970px;
          top: -655px;
          
        }

        .username-photo{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          position: relative;
          top: 5px;
        }

        #loader{

          background-color: #3da9fc;
          float: left;
          height: 45px;
          width: 140px;
          margin: 40px 640px;

        }

        .loader-text{
          color: white;
          font-family: "Goudy Bookletter 1911", cursive;
          text-align: center;
          font-weight: bold;
          font-size: 14px;

        }

        #footer{
          color: black;
          float:left;
          border-top: 1px black solid;
          height: 100px;
          width: 1350px;
          margin: 0px 20px;
        }

        .newsletter{
          font-family: "Goudy Bookletter 1911", cursive;
          font-size: 21px;
          position: relative;
          left: 20px;
        }

        .footer-content{
          margin: 16px 16px;
          float: left;
          font-size: 17px;
          font-family: "Goudy Bookletter 1911", cursive;
          position: relative;
          left: 610px;
        }

